.TODO{
    background-color:#ddd;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

.logo{
    display: flex;
    align-items: center;
}
.log img{
    height: 100px;         
    margin-right: 50px;
}

.nav1 a{
    padding-right: 170px;
    z-index: 3;
}

.DireR{
    display:none ;
}

.DireR2{
    display:none ;
}


.contesp {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
  }
  
  .CONTFLIP {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .contesp:hover .CONTFLIP {
    transform: rotateY(180deg);
  }
  
  .contcara, .contcul {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .contcara {
    background-color: #bbb;
    color: black;
  }
  
.contcul {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);}



.nosotrosbt {
    background-color:rgb(192,217,238);
    display: flex;
    color: black;
    padding: 14px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: justify;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    border:none;
    border-color:rgba(49, 56, 105, 100) ;
    border-radius: 12px;
    height: 94%;
    width: 99px;
    outline: none;
    margin-top: 4px;
    margin-bottom: 2px;
    margin-right: 5px;
    
}
.nosotrosbt:active { background-color:rgb(rgb(96, 96, 183)); box-shadow: 0 5px rgb(54, 62, 82); transform: translateY(-2px);}

.nosotrosbt a:link{color:rgb(0,135,225); text-decoration: none;}
.nosotrosbt a:visited{ text-decoration: none;}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-left: -90px;
}

.dropdown-content a:hover   {background-color: #ddd;}
/* .dropbtn:hover .dropdown-content{display:block;} */
/* .MENU:hover .dropdown-content{display:block;} */
.show {display: block;}
.dropbtn:active { background-color:rgba(49, 56, 105, 100); box-shadow: 0 5px #666; transform: translateY(-4px);}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropbtn {
    background-color:rgba(223, 225, 237, 216);
    display: inline-block;
    color: black;
    padding: 16px 25px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    border:none;
    border-color:rgba(49, 56, 105, 100) ;
    border-radius: 12px;
    height: 94%;
    width: 94%;
    outline: none
}

.logo img{
    height: 70px;
    position: sticky;
}

.conteiner-1 {
    text-align: center;
}

.minimenu {display: flex;}

.ULNV2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #ddd;
    border: 1xp solid #666;
}

.ULNV2 li button{
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.ULNV2 li{
    text-align: center;
    border-bottom: 1px solid black;
}


.logoin {
    z-index: 1;
}
.logoin img {
    height: 400px;
    border: 1px solid black;
    z-index: 1;
}


.carruzin

.formus{
    display: inline-block;
}

.grafiti{
    display:flex;
    align-items: center;
    border-color: #000;
    width: 1333px;
    height: 445px;
}

.Productocont{
    background-color: #000;
}

.PRODIMG{
    display: flex;
}
.PRODIMG img {
    display: block;
    width: 640px;
    height: 500px;
    padding-left: 15px;
    margin: 1px;
    padding-top: 10px;
    padding-right: 15px;
}

@media (min-width:800px){
    .nav1    {
        width: 99% ;
        height: auto;
        margin: 5px;
        border: 10px;
        border-color: black;
        display: flex;
        flex-wrap: wrap;
        background-color:transparent;
        padding-right: 10px;
        position: fixed;
    }
    .MENU{
        display: inline-block;
        margin-left:auto;
        position: relative;
        
    }
    .dropdown-content{
        padding-bottom: 0px;
        padding-top: 0px;
    }
    .dropbtn{
        padding-top: 25px;
        margin-top: 2px;
    }

    .nosotrosbt{
        margin-left: 500px;
        padding-bottom: 0%;
        margin-top: 2px;
        margin-bottom: 2px;
    }
    
    .grafi1 img{
        width: 95%;
        height: 95%;
        margin-top: 30px;
        margin-left: 7px;
        border-style: 10px;
    }
    
    .grafi2 img{
        height:95%;
        width: 95%;
        margin-top: 30px;
        margin-left: 7px;
        border-style: 10px;
    }
    
    .Texto1{
        text-decoration: solid;
        text-align: start;
        width: 80%;
        margin-left: 10%;
        text-shadow: 0px 8px 16px 0px #282730;
    }
    .INTRO  {
        display:flexbox;
        text-align: center;
        
    
    }
    .Ftsec{
        display: flex;
        
    }
    
    .Ftsec img{
        width: 35%;
        height: 35%;
        margin-left: 41%;
    }
    
    .ForM{
        display: flex;
        margin-left: 40%;
        margin-top: 11px;
        width: 800px;
        height: 50%;
    }
    
    .ForM input{
        display: flex;
        flex-direction: column;
    }
    
    .ForM button{
        align-items: center;
        margin-left: 30%;
    }
    .bodyini{
        background-color: #282730 ;
        font-family: 'Quicksand', sans-serif ;
        -webkit-tap-highlight-color: transparent ;
        transition: background-color  var(--cubic-slider) ;
        
        }
    
    
}

@media (min-height: 720px) {
    .Ftsec{
        display: flex;
        
    }
    
    .Ftsec img{
        width: 35%;
        height: 35%;
        margin-left: 41%;
    }
    
    .ForM{
        display: flex;
        margin-left: 25%;
        margin-top: 11px;
        width: 800px;
        height: 50%;
    }
    
    .ForM input{
        display: flex;
        flex-direction: column;
        margin-left: 18%;
    }
    
    .ForM button{
        align-items: center;
        margin-left: 32%;
        margin-top: 10%;
    }

    .ForM form h2{
        align-items: center;
        color: #ddd;
        display: flex;
        
    }
    
    .bodyini{
        background-color: #282730 ;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        -webkit-tap-highlight-color: transparent ;
        transition: background-color  var(--cubic-slider) ;
        
        }
    .nav1{
        width: 99% ;
        height: auto;
        margin: 5px;
        border: 10px;
        border-color: black;
        display: flex;
        flex-wrap: wrap;
        background-color:transparent;
        padding-right: 10px;
        position: fixed;
    }
}